#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "󰎇", dir: "", marker: "󰐾"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["~", "o", "-"],
        track_style: (fg: "239"),
        elapsed_style: (fg: "239"),
        thumb_style: (fg: "15"),
    ),
    scrollbar: (
        symbols: ["│", "█", " ", " "],
        track_style: (fg: "8"),
        ends_style: (fg: "8"),
        thumb_style: (fg: "8"),
    ),
    browser_column_widths: [33, 34, 33],
    text_color: "15",
    background_color: "0",
    header_background_color: "0",
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "0", bg: "7", modifiers: "Bold")),
    borders_style: (),
    highlighted_item_style: (fg: "15", bg: "237", modifiers: "Bold"),
    current_item_style: (fg: "0", bg: "7", modifiers: "Bold"),
    highlight_border_style: (fg: "3"),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width_percent: 20,
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width_percent: 35,
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width_percent: 30,
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width_percent: 15,
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text(" "), style: (bg: "246")),
                    (kind: Property(Status(State)), style: (fg: "0", bg: "246", modifiers: "Bold")),
                    (kind: Text(" "), style: (bg: "246"))
                ],
                center: [
                    (kind: Text(" "), style: (bg: "7")),
                    (
                        kind: Property(Song(Artist)), style: (fg: "0", bg: "7", modifiers: "Bold"),
                        default: (kind: Text(" "), style: (fg: "0", bg: "7", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "0", bg: "7")),
                    (
                        kind: Property(Song(Title)), style: (fg: "0", bg: "7", modifiers: "Bold"),
                        default: (kind: Text(" "), style: (fg: "0", bg: "7", modifiers: "Bold"))
                    ),
                    (kind: Text(" "), style: (bg: "7"))
                ],
                right: [
                    (kind: Text(" "), style: (bg: "246")),
                    (kind: Property(Status(Volume)), style: (fg: "0", bg: "246", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "0", bg: "246", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
